In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/best-batting-average")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())

# Display the list
table_headers

[['Pos', 'Player', 'Team', 'Avg', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []


name_xpath = '//div/div/div[2]/div/div/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.split(','))


# Display the list
players_data

[['1 LANCE KLUSENER SA\n124.00\n11 124.00 372\n2 Andrew Symonds AUS\n103.00\n13 103.00 515\n3 Shreyas Iyer IND\n75.14\n10 75.14 526\n4 Graeme Fowler ENG\n72.00\n7 72.00 360\n5 Azmat Omarzai AFG\n70.60\n8 70.60 353\n6 Daryl Mitchell NZ\n69.00\n9 69.00 552\n7 Peter Noel Kirsten SA\n68.33\n8 68.33 410\n8 Ridley Jacobs WI\n67.50\n8 67.50 270\n9 Mohammad Rizwan PAK\n65.83\n8 65.83 395\n10 Hilary Angelo Gomes WI\n64.50\n7 64.50 258\n11 Rachin Ravindra NZ\n64.22\n10 64.22 578\n12 Lee Germon NZ\n63.66\n6 63.66 191\n13 AB de Villiers SA\n63.52\n22 63.52 1207\n14 Michael Clarke AUS\n63.42\n21 63.42 888\n15 Viv Richards WI\n63.31\n21 63.31 1013\n16 Jason Roy ENG\n63.28\n7 63.28 443\n17 Ryan ten Doeschate NED\n62.14\n9 62.14 435\n18 Rahul Dravid IND\n61.42\n21 61.42 860\n19 Kane Williamson NZ\n61.42\n26 61.42 1167\n20 Glenn Turner NZ\n61.20\n14 61.20 612\n21 Rohit Sharma IND\n61.12\n27 61.12 1528\n22 Jonathan Trott ENG\n60.28\n7 60.28 422\n23 Virat Kohli IND\n60.00\n36 60.00 1740\n24 Suresh Raina IND\n59.66\n9 59.66 358\n25 Ben Stokes ENG\n59.15\n16 59.15 769']]

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Andrew Symonds',
 'Shreyas Iyer',
 'Graeme Fowler',
 'Azmat Omarzai',
 'Daryl Mitchell',
 'Peter Noel Kirsten',
 'Ridley Jacobs',
 'Mohammad Rizwan',
 'Hilary Angelo Gomes',
 'Rachin Ravindra',
 'Lee Germon',
 'AB de Villiers',
 'Michael Clarke',
 'Viv Richards',
 'Jason Roy',
 'Ryan ten Doeschate',
 'Rahul Dravid',
 'Kane Williamson',
 'Glenn Turner',
 'Rohit Sharma',
 'Jonathan Trott',
 'Virat Kohli',
 'Suresh Raina',
 'Ben Stokes']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'AUS',
 'IND',
 'ENG',
 'AFG',
 'NZ',
 'SA',
 'WI',
 'PAK',
 'WI',
 'NZ',
 'NZ',
 'SA',
 'AUS',
 'WI',
 'ENG',
 'NED',
 'IND',
 'NZ',
 'NZ',
 'IND',
 'ENG',
 'IND',
 'IND',
 'ENG']

In [8]:
# Runs

Runs = []

for i in range(1,26):
    
    run_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[10]'
    
    run = driver.find_element(By.XPATH,
                                 run_xpath).text
    
    Runs.append(run)
    
Runs

['372',
 '515',
 '526',
 '360',
 '353',
 '552',
 '410',
 '270',
 '395',
 '258',
 '578',
 '191',
 '1207',
 '888',
 '1013',
 '443',
 '435',
 '860',
 '1167',
 '612',
 '1528',
 '422',
 '1740',
 '358',
 '769']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['11',
 '13',
 '10',
 '7',
 '8',
 '9',
 '8',
 '8',
 '8',
 '7',
 '10',
 '6',
 '22',
 '21',
 '21',
 '7',
 '9',
 '21',
 '26',
 '14',
 '27',
 '7',
 '36',
 '9',
 '16']

In [10]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['124.00',
 '103.00',
 '75.14',
 '72.00',
 '70.60',
 '69.00',
 '68.33',
 '67.50',
 '65.83',
 '64.50',
 '64.22',
 '63.66',
 '63.52',
 '63.42',
 '63.31',
 '63.28',
 '62.14',
 '61.42',
 '61.42',
 '61.20',
 '61.12',
 '60.28',
 '60.00',
 '59.66',
 '59.15']

In [11]:
# To Close the driver
driver.close()

In [12]:
# Creating Data Frame
BatAvg = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                             "Inn":Inn,
                             "Bat Avg":Bat_Avg,
                             "Runs":Runs,
                            })
BatAvg

   Pos                 Name Country Inn Bat Avg  Runs
0                                    11  124.00   372
1    2       Andrew Symonds     AUS  13  103.00   515
2    3         Shreyas Iyer     IND  10   75.14   526
3    4        Graeme Fowler     ENG   7   72.00   360
4    5        Azmat Omarzai     AFG   8   70.60   353
5    6       Daryl Mitchell      NZ   9   69.00   552
6    7   Peter Noel Kirsten      SA   8   68.33   410
7    8        Ridley Jacobs      WI   8   67.50   270
8    9      Mohammad Rizwan     PAK   8   65.83   395
9   10  Hilary Angelo Gomes      WI   7   64.50   258
10  11      Rachin Ravindra      NZ  10   64.22   578
11  12           Lee Germon      NZ   6   63.66   191
12  13       AB de Villiers      SA  22   63.52  1207
13  14       Michael Clarke     AUS  21   63.42   888
14  15         Viv Richards      WI  21   63.31  1013
15  16            Jason Roy     ENG   7   63.28   443
16  17   Ryan ten Doeschate     NED   9   62.14   435
17  18         Rahul Dravid     IND  21   61.42   860
18  19      Kane Williamson      NZ  26   61.42  1167
19  20         Glenn Turner      NZ  14   61.20   612
20  21         Rohit Sharma     IND  27   61.12  1528
21  22       Jonathan Trott     ENG   7   60.28   422
22  23          Virat Kohli     IND  36   60.00  1740
23  24         Suresh Raina     IND   9   59.66   358
24  25           Ben Stokes     ENG  16   59.15   769

In [13]:
# Adding Values
BatAvg['Pos'][0] ='1'
BatAvg['Name'][0] = 'LANCE KLUSENER'
BatAvg['Country'][0] = 'SA'

In [14]:
BatAvg

   Pos                 Name Country Inn Bat Avg  Runs
0    1       LANCE KLUSENER      SA  11  124.00   372
1    2       Andrew Symonds     AUS  13  103.00   515
2    3         Shreyas Iyer     IND  10   75.14   526
3    4        Graeme Fowler     ENG   7   72.00   360
4    5        Azmat Omarzai     AFG   8   70.60   353
5    6       Daryl Mitchell      NZ   9   69.00   552
6    7   Peter Noel Kirsten      SA   8   68.33   410
7    8        Ridley Jacobs      WI   8   67.50   270
8    9      Mohammad Rizwan     PAK   8   65.83   395
9   10  Hilary Angelo Gomes      WI   7   64.50   258
10  11      Rachin Ravindra      NZ  10   64.22   578
11  12           Lee Germon      NZ   6   63.66   191
12  13       AB de Villiers      SA  22   63.52  1207
13  14       Michael Clarke     AUS  21   63.42   888
14  15         Viv Richards      WI  21   63.31  1013
15  16            Jason Roy     ENG   7   63.28   443
16  17   Ryan ten Doeschate     NED   9   62.14   435
17  18         Rahul Dravid     IND  21   61.42   860
18  19      Kane Williamson      NZ  26   61.42  1167
19  20         Glenn Turner      NZ  14   61.20   612
20  21         Rohit Sharma     IND  27   61.12  1528
21  22       Jonathan Trott     ENG   7   60.28   422
22  23          Virat Kohli     IND  36   60.00  1740
23  24         Suresh Raina     IND   9   59.66   358
24  25           Ben Stokes     ENG  16   59.15   769

# The End...!