In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/highest-score-innings")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())

# Display the list
table_headers

[['Pos', 'Player', 'Team', 'HS', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []


name_xpath = '//div/div/div[2]/div/div/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.split(','))


# Display the list
players_data

[['1 MARTIN GUPTILL NZ\n237*\n- - 237\n2 Chris Gayle WI\n215\n- 215.00 215\n3 Glenn Maxwell AUS\n201*\n- - 201\n4 Gary Kirsten SA\n188*\n- - 188\n5 Sourav Ganguly IND\n183\n- 183.00 183\n6 Viv Richards WI\n181\n- 181.00 181\n7 David Warner AUS\n178\n- 178.00 178\n8 Mitch Marsh AUS\n177*\n- - 177\n9 Kapil Dev IND\n175*\n- - 175\n10 Virender Sehwag IND\n175\n- 175.00 175\n11 Quinton de Kock SA\n174\n- 174.00 174\n12 Craig Wishart ZIM\n172*\n- - 172\n13 Glenn Turner NZ\n171*\n- - 171\n14 David Warner AUS\n166\n- 166.00 166\n15 David Warner AUS\n163\n- 163.00 163\n16 AB de Villiers SA\n162*\n- - 162\n17 Tillakaratne Dilshan SL\n161*\n- - 161\n18 Andrew Hudson SA\n161\n- 161.00 161\n19 Imran Nazir PAK\n160\n- 160.00 160\n20 Hashim Amla SA\n159\n- 159.00 159\n21 Andrew Strauss ENG\n158\n- 158.00 158\n22 Matthew Hayden AUS\n158\n- 158.00 158\n23 Kyle Coetzer SCO\n156\n- 156.00 156\n24 Jason Roy ENG\n153\n- 153.00 153\n25 Aaron Finch AUS\n153\n- 153.00 153']]

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Chris Gayle',
 'Glenn Maxwell',
 'Gary Kirsten',
 'Sourav Ganguly',
 'Viv Richards',
 'David Warner',
 'Mitch Marsh',
 'Kapil Dev',
 'Virender Sehwag',
 'Quinton de Kock',
 'Craig Wishart',
 'Glenn Turner',
 'David Warner',
 'David Warner',
 'AB de Villiers',
 'Tillakaratne Dilshan',
 'Andrew Hudson',
 'Imran Nazir',
 'Hashim Amla',
 'Andrew Strauss',
 'Matthew Hayden',
 'Kyle Coetzer',
 'Jason Roy',
 'Aaron Finch']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'WI',
 'AUS',
 'SA',
 'IND',
 'WI',
 'AUS',
 'AUS',
 'IND',
 'IND',
 'SA',
 'ZIM',
 'NZ',
 'AUS',
 'AUS',
 'SA',
 'SL',
 'SA',
 'PAK',
 'SA',
 'ENG',
 'AUS',
 'SCO',
 'ENG',
 'AUS']

In [8]:
# Hs Runs

HS = []

for i in range(1,26):
    
    hs_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]/span'
    
    hs = driver.find_element(By.XPATH,
                                 hs_xpath).text
    
    HS.append(hs)
    
HS

['237*',
 '215',
 '201*',
 '188*',
 '183',
 '181',
 '178',
 '177*',
 '175*',
 '175',
 '174',
 '172*',
 '171*',
 '166',
 '163',
 '162*',
 '161*',
 '161',
 '160',
 '159',
 '158',
 '158',
 '156',
 '153',
 '153']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [10]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['-',
 '215.00',
 '-',
 '-',
 '183.00',
 '181.00',
 '178.00',
 '-',
 '-',
 '175.00',
 '174.00',
 '-',
 '-',
 '166.00',
 '163.00',
 '-',
 '-',
 '161.00',
 '160.00',
 '159.00',
 '158.00',
 '158.00',
 '156.00',
 '153.00',
 '153.00']

In [11]:
# To Close the driver
driver.close()

In [12]:
# Creating Data Frame
Hs_Run = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                             "Inn":Inn,
                             "Bat Avg":Bat_Avg,
                             "HS Runs":HS,
                            })
Hs_Run

   Pos                  Name Country Inn Bat Avg HS Runs
0                                      -       -    237*
1    2           Chris Gayle      WI   -  215.00     215
2    3         Glenn Maxwell     AUS   -       -    201*
3    4          Gary Kirsten      SA   -       -    188*
4    5        Sourav Ganguly     IND   -  183.00     183
5    6          Viv Richards      WI   -  181.00     181
6    7          David Warner     AUS   -  178.00     178
7    8           Mitch Marsh     AUS   -       -    177*
8    9             Kapil Dev     IND   -       -    175*
9   10       Virender Sehwag     IND   -  175.00     175
10  11       Quinton de Kock      SA   -  174.00     174
11  12         Craig Wishart     ZIM   -       -    172*
12  13          Glenn Turner      NZ   -       -    171*
13  14          David Warner     AUS   -  166.00     166
14  15          David Warner     AUS   -  163.00     163
15  16        AB de Villiers      SA   -       -    162*
16  17  Tillakaratne Dilshan      SL   -       -    161*
17  18         Andrew Hudson      SA   -  161.00     161
18  19           Imran Nazir     PAK   -  160.00     160
19  20           Hashim Amla      SA   -  159.00     159
20  21        Andrew Strauss     ENG   -  158.00     158
21  22        Matthew Hayden     AUS   -  158.00     158
22  23          Kyle Coetzer     SCO   -  156.00     156
23  24             Jason Roy     ENG   -  153.00     153
24  25           Aaron Finch     AUS   -  153.00     153

In [13]:
# Adding Values
Hs_Run['Pos'][0] ='1'
Hs_Run['Name'][0] = 'MARTIN GUPTILL'
Hs_Run['Country'][0] = 'NZ'

In [14]:
Hs_Run

   Pos                  Name Country Inn Bat Avg HS Runs
0    1        MARTIN GUPTILL      NZ   -       -    237*
1    2           Chris Gayle      WI   -  215.00     215
2    3         Glenn Maxwell     AUS   -       -    201*
3    4          Gary Kirsten      SA   -       -    188*
4    5        Sourav Ganguly     IND   -  183.00     183
5    6          Viv Richards      WI   -  181.00     181
6    7          David Warner     AUS   -  178.00     178
7    8           Mitch Marsh     AUS   -       -    177*
8    9             Kapil Dev     IND   -       -    175*
9   10       Virender Sehwag     IND   -  175.00     175
10  11       Quinton de Kock      SA   -  174.00     174
11  12         Craig Wishart     ZIM   -       -    172*
12  13          Glenn Turner      NZ   -       -    171*
13  14          David Warner     AUS   -  166.00     166
14  15          David Warner     AUS   -  163.00     163
15  16        AB de Villiers      SA   -       -    162*
16  17  Tillakaratne Dilshan      SL   -       -    161*
17  18         Andrew Hudson      SA   -  161.00     161
18  19           Imran Nazir     PAK   -  160.00     160
19  20           Hashim Amla      SA   -  159.00     159
20  21        Andrew Strauss     ENG   -  158.00     158
21  22        Matthew Hayden     AUS   -  158.00     158
22  23          Kyle Coetzer     SCO   -  156.00     156
23  24             Jason Roy     ENG   -  153.00     153
24  25           Aaron Finch     AUS   -  153.00     153

# The End...!