In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/most-hundreds")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())

# Display the list
table_headers

[['Pos', 'Player', 'Team', '100s', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []


name_xpath = '//div/div/div[2]/div/div/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.split(','))


# Display the list
players_data

[['1 ROHIT SHARMA IND\n7\n27 61.12 1528\n2 Sachin Tendulkar IND\n6\n44 56.95 2278\n3 David Warner AUS\n6\n28 58.46 1520\n4 Ricky Ponting AUS\n5\n42 45.86 1743\n5 Kumar Sangakkara SL\n5\n35 56.74 1532\n6 Virat Kohli IND\n5\n36 60.00 1740\n7 AB de Villiers SA\n4\n22 63.52 1207\n8 Tillakaratne Dilshan SL\n4\n25 52.95 1112\n9 Quinton de Kock SA\n4\n27 41.76 1044\n10 Mark Waugh AUS\n4\n22 52.84 1004\n11 Sourav Ganguly IND\n4\n21 55.88 1006\n12 Mahela Jayawardene SL\n4\n34 35.48 1100\n13 Saeed Anwar PAK\n3\n20 51.47 875\n14 Glenn Maxwell AUS\n3\n24 47.31 899\n15 Rachin Ravindra NZ\n3\n10 64.22 578\n16 Sanath Jayasuriya SL\n3\n37 33.28 1165\n17 Matthew Hayden AUS\n3\n21 51.94 987\n18 Mahmudullah Riyad BAN\n3\n22 52.44 944\n19 Ramiz Raja PAK\n3\n16 53.84 700\n20 Joe Root ENG\n3\n25 44.95 1034\n21 Shikhar Dhawan IND\n3\n10 53.70 537\n22 Aaron Finch AUS\n3\n18 43.72 787\n23 Viv Richards WI\n3\n21 63.31 1013\n24 Mitch Marsh AUS\n2\n12 41.54 457\n25 Chris Gayle WI\n2\n34 35.93 1186']]

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Sachin Tendulkar',
 'David Warner',
 'Ricky Ponting',
 'Kumar Sangakkara',
 'Virat Kohli',
 'AB de Villiers',
 'Tillakaratne Dilshan',
 'Quinton de Kock',
 'Mark Waugh',
 'Sourav Ganguly',
 'Mahela Jayawardene',
 'Saeed Anwar',
 'Glenn Maxwell',
 'Rachin Ravindra',
 'Sanath Jayasuriya',
 'Matthew Hayden',
 'Mahmudullah Riyad',
 'Ramiz Raja',
 'Joe Root',
 'Shikhar Dhawan',
 'Aaron Finch',
 'Viv Richards',
 'Mitch Marsh',
 'Chris Gayle']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'IND',
 'AUS',
 'AUS',
 'SL',
 'IND',
 'SA',
 'SL',
 'SA',
 'AUS',
 'IND',
 'SL',
 'PAK',
 'AUS',
 'NZ',
 'SL',
 'AUS',
 'BAN',
 'PAK',
 'ENG',
 'IND',
 'AUS',
 'WI',
 'AUS',
 'WI']

In [8]:
# Runs

Runs = []

for i in range(1,26):
    
    run_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[10]'
    
    run = driver.find_element(By.XPATH,
                                 run_xpath).text
    
    Runs.append(run)
    
Runs

['1528',
 '2278',
 '1520',
 '1743',
 '1532',
 '1740',
 '1207',
 '1112',
 '1044',
 '1004',
 '1006',
 '1100',
 '875',
 '899',
 '578',
 '1165',
 '987',
 '944',
 '700',
 '1034',
 '537',
 '787',
 '1013',
 '457',
 '1186']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['27',
 '44',
 '28',
 '42',
 '35',
 '36',
 '22',
 '25',
 '27',
 '22',
 '21',
 '34',
 '20',
 '24',
 '10',
 '37',
 '21',
 '22',
 '16',
 '25',
 '10',
 '18',
 '21',
 '12',
 '34']

In [10]:
# Centuries

Centuries = []

for i in range(1,26):
    
    centuries_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]'
    
    centuries = driver.find_element(By.XPATH,
                                 centuries_xpath).text
    
    Centuries.append(centuries)
    
Centuries

['7',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2']

In [11]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['61.12',
 '56.95',
 '58.46',
 '45.86',
 '56.74',
 '60.00',
 '63.52',
 '52.95',
 '41.76',
 '52.84',
 '55.88',
 '35.48',
 '51.47',
 '47.31',
 '64.22',
 '33.28',
 '51.94',
 '52.44',
 '53.84',
 '44.95',
 '53.70',
 '43.72',
 '63.31',
 '41.54',
 '35.93']

In [12]:
# To Close the driver
driver.close()

In [13]:
# Creating Data Frame
Most_centuries = pd.DataFrame({'Pos':Pos,
                                 "Name":Name,
                                 "Country":Country,
                                 "Centuries":Centuries,
                                 "Inn":Inn,
                                 "Bat Avg":Bat_Avg,
                                 "Runs":Runs,
                            })
Most_centuries

   Pos                  Name Country Centuries Inn Bat Avg  Runs
0                                            7  27   61.12  1528
1    2      Sachin Tendulkar     IND         6  44   56.95  2278
2    3          David Warner     AUS         6  28   58.46  1520
3    4         Ricky Ponting     AUS         5  42   45.86  1743
4    5      Kumar Sangakkara      SL         5  35   56.74  1532
5    6           Virat Kohli     IND         5  36   60.00  1740
6    7        AB de Villiers      SA         4  22   63.52  1207
7    8  Tillakaratne Dilshan      SL         4  25   52.95  1112
8    9       Quinton de Kock      SA         4  27   41.76  1044
9   10            Mark Waugh     AUS         4  22   52.84  1004
10  11        Sourav Ganguly     IND         4  21   55.88  1006
11  12    Mahela Jayawardene      SL         4  34   35.48  1100
12  13           Saeed Anwar     PAK         3  20   51.47   875
13  14         Glenn Maxwell     AUS         3  24   47.31   899
14  15       Rachin Ravindra      NZ         3  10   64.22   578
15  16     Sanath Jayasuriya      SL         3  37   33.28  1165
16  17        Matthew Hayden     AUS         3  21   51.94   987
17  18     Mahmudullah Riyad     BAN         3  22   52.44   944
18  19            Ramiz Raja     PAK         3  16   53.84   700
19  20              Joe Root     ENG         3  25   44.95  1034
20  21        Shikhar Dhawan     IND         3  10   53.70   537
21  22           Aaron Finch     AUS         3  18   43.72   787
22  23          Viv Richards      WI         3  21   63.31  1013
23  24           Mitch Marsh     AUS         2  12   41.54   457
24  25           Chris Gayle      WI         2  34   35.93  1186

In [14]:
# Adding Values
Most_centuries['Pos'][0] ='1'
Most_centuries['Name'][0] = 'Rohit Sharma'
Most_centuries['Country'][0] = 'IND'

In [15]:
Most_centuries

   Pos                  Name Country Centuries Inn Bat Avg  Runs
0    1          Rohit Sharma     IND         7  27   61.12  1528
1    2      Sachin Tendulkar     IND         6  44   56.95  2278
2    3          David Warner     AUS         6  28   58.46  1520
3    4         Ricky Ponting     AUS         5  42   45.86  1743
4    5      Kumar Sangakkara      SL         5  35   56.74  1532
5    6           Virat Kohli     IND         5  36   60.00  1740
6    7        AB de Villiers      SA         4  22   63.52  1207
7    8  Tillakaratne Dilshan      SL         4  25   52.95  1112
8    9       Quinton de Kock      SA         4  27   41.76  1044
9   10            Mark Waugh     AUS         4  22   52.84  1004
10  11        Sourav Ganguly     IND         4  21   55.88  1006
11  12    Mahela Jayawardene      SL         4  34   35.48  1100
12  13           Saeed Anwar     PAK         3  20   51.47   875
13  14         Glenn Maxwell     AUS         3  24   47.31   899
14  15       Rachin Ravindra      NZ         3  10   64.22   578
15  16     Sanath Jayasuriya      SL         3  37   33.28  1165
16  17        Matthew Hayden     AUS         3  21   51.94   987
17  18     Mahmudullah Riyad     BAN         3  22   52.44   944
18  19            Ramiz Raja     PAK         3  16   53.84   700
19  20              Joe Root     ENG         3  25   44.95  1034
20  21        Shikhar Dhawan     IND         3  10   53.70   537
21  22           Aaron Finch     AUS         3  18   43.72   787
22  23          Viv Richards      WI         3  21   63.31  1013
23  24           Mitch Marsh     AUS         2  12   41.54   457
24  25           Chris Gayle      WI         2  34   35.93  1186

# The End...!