In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/most-sixes")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())

# Display the list
table_headers

[['Pos', 'Player', 'Team', '6s', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []


name_xpath = '//div/div/div[2]/div/div/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.split(','))


# Display the list
players_data

[['1 ROHIT SHARMA IND\n51\n27 61.12 1528\n2 Chris Gayle WI\n49\n34 35.93 1186\n3 Glenn Maxwell AUS\n43\n24 47.31 899\n4 David Warner AUS\n41\n28 58.46 1520\n5 AB de Villiers SA\n37\n22 63.52 1207\n6 David Miller SA\n35\n21 48.00 816\n7 Ricky Ponting AUS\n31\n42 45.86 1743\n8 Brendon McCullum NZ\n29\n27 33.72 742\n9 Herschelle Gibbs SA\n28\n23 56.15 1067\n10 Sanath Jayasuriya SL\n27\n37 33.28 1165\n11 Sachin Tendulkar IND\n27\n44 56.95 2278\n12 Eoin Morgan ENG\n26\n27 25.84 672\n13 Mahmudullah Riyad BAN\n25\n22 52.44 944\n14 Quinton de Kock SA\n25\n27 41.76 1044\n15 Sourav Ganguly IND\n25\n21 55.88 1006\n16 Shreyas Iyer IND\n24\n10 75.14 526\n17 Martin Guptill NZ\n24\n29 39.88 997\n18 Aaron Finch AUS\n24\n18 43.72 787\n19 Matthew Hayden AUS\n23\n21 51.94 987\n20 Daryl Mitchell NZ\n22\n9 69.00 552\n21 Viv Richards WI\n22\n21 63.31 1013\n22 Ben Stokes ENG\n22\n16 59.15 769\n23 Fakhar Zaman PAK\n21\n12 36.90 406\n24 Mitch Marsh AUS\n20\n12 41.54 457\n25 Heinrich Klaasen SA\n19\n10 41.44 373']]

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Chris Gayle',
 'Glenn Maxwell',
 'David Warner',
 'AB de Villiers',
 'David Miller',
 'Ricky Ponting',
 'Brendon McCullum',
 'Herschelle Gibbs',
 'Sanath Jayasuriya',
 'Sachin Tendulkar',
 'Eoin Morgan',
 'Mahmudullah Riyad',
 'Quinton de Kock',
 'Sourav Ganguly',
 'Shreyas Iyer',
 'Martin Guptill',
 'Aaron Finch',
 'Matthew Hayden',
 'Daryl Mitchell',
 'Viv Richards',
 'Ben Stokes',
 'Fakhar Zaman',
 'Mitch Marsh',
 'Heinrich Klaasen']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'WI',
 'AUS',
 'AUS',
 'SA',
 'SA',
 'AUS',
 'NZ',
 'SA',
 'SL',
 'IND',
 'ENG',
 'BAN',
 'SA',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'AUS',
 'NZ',
 'WI',
 'ENG',
 'PAK',
 'AUS',
 'SA']

In [8]:
# Runs

Runs = []

for i in range(1,26):
    
    run_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[10]'
    
    run = driver.find_element(By.XPATH,
                                 run_xpath).text
    
    Runs.append(run)
    
Runs

['1528',
 '1186',
 '899',
 '1520',
 '1207',
 '816',
 '1743',
 '742',
 '1067',
 '1165',
 '2278',
 '672',
 '944',
 '1044',
 '1006',
 '526',
 '997',
 '787',
 '987',
 '552',
 '1013',
 '769',
 '406',
 '457',
 '373']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['27',
 '34',
 '24',
 '28',
 '22',
 '21',
 '42',
 '27',
 '23',
 '37',
 '44',
 '27',
 '22',
 '27',
 '21',
 '10',
 '29',
 '18',
 '21',
 '9',
 '21',
 '16',
 '12',
 '12',
 '10']

In [10]:
# 6s

s6 = []

for i in range(1,26):
    
    S6_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]'
    
    S6 = driver.find_element(By.XPATH,
                                 S6_xpath).text
    
    s6.append(S6)
    
s6

['51',
 '49',
 '43',
 '41',
 '37',
 '35',
 '31',
 '29',
 '28',
 '27',
 '27',
 '26',
 '25',
 '25',
 '25',
 '24',
 '24',
 '24',
 '23',
 '22',
 '22',
 '22',
 '21',
 '20',
 '19']

In [11]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['61.12',
 '35.93',
 '47.31',
 '58.46',
 '63.52',
 '48.00',
 '45.86',
 '33.72',
 '56.15',
 '33.28',
 '56.95',
 '25.84',
 '52.44',
 '41.76',
 '55.88',
 '75.14',
 '39.88',
 '43.72',
 '51.94',
 '69.00',
 '63.31',
 '59.15',
 '36.90',
 '41.54',
 '41.44']

In [12]:
# To Close the driver
driver.close()

In [13]:
# Creating Data Frame
Most_6s = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                             "6s":s6,
                             "Inn":Inn,
                             "Bat Avg":Bat_Avg,
                             "Runs":Runs,
                            })
Most_6s

   Pos               Name Country  6s Inn Bat Avg  Runs
0                                  51  27   61.12  1528
1    2        Chris Gayle      WI  49  34   35.93  1186
2    3      Glenn Maxwell     AUS  43  24   47.31   899
3    4       David Warner     AUS  41  28   58.46  1520
4    5     AB de Villiers      SA  37  22   63.52  1207
5    6       David Miller      SA  35  21   48.00   816
6    7      Ricky Ponting     AUS  31  42   45.86  1743
7    8   Brendon McCullum      NZ  29  27   33.72   742
8    9   Herschelle Gibbs      SA  28  23   56.15  1067
9   10  Sanath Jayasuriya      SL  27  37   33.28  1165
10  11   Sachin Tendulkar     IND  27  44   56.95  2278
11  12        Eoin Morgan     ENG  26  27   25.84   672
12  13  Mahmudullah Riyad     BAN  25  22   52.44   944
13  14    Quinton de Kock      SA  25  27   41.76  1044
14  15     Sourav Ganguly     IND  25  21   55.88  1006
15  16       Shreyas Iyer     IND  24  10   75.14   526
16  17     Martin Guptill      NZ  24  29   39.88   997
17  18        Aaron Finch     AUS  24  18   43.72   787
18  19     Matthew Hayden     AUS  23  21   51.94   987
19  20     Daryl Mitchell      NZ  22   9   69.00   552
20  21       Viv Richards      WI  22  21   63.31  1013
21  22         Ben Stokes     ENG  22  16   59.15   769
22  23       Fakhar Zaman     PAK  21  12   36.90   406
23  24        Mitch Marsh     AUS  20  12   41.54   457
24  25   Heinrich Klaasen      SA  19  10   41.44   373

In [14]:
# Adding Values
Most_6s['Pos'][0] ='1'
Most_6s['Name'][0] = 'ROHIT SHARMA'
Most_6s['Country'][0] = 'IND'

In [15]:
Most_6s

   Pos               Name Country  6s Inn Bat Avg  Runs
0    1       ROHIT SHARMA     IND  51  27   61.12  1528
1    2        Chris Gayle      WI  49  34   35.93  1186
2    3      Glenn Maxwell     AUS  43  24   47.31   899
3    4       David Warner     AUS  41  28   58.46  1520
4    5     AB de Villiers      SA  37  22   63.52  1207
5    6       David Miller      SA  35  21   48.00   816
6    7      Ricky Ponting     AUS  31  42   45.86  1743
7    8   Brendon McCullum      NZ  29  27   33.72   742
8    9   Herschelle Gibbs      SA  28  23   56.15  1067
9   10  Sanath Jayasuriya      SL  27  37   33.28  1165
10  11   Sachin Tendulkar     IND  27  44   56.95  2278
11  12        Eoin Morgan     ENG  26  27   25.84   672
12  13  Mahmudullah Riyad     BAN  25  22   52.44   944
13  14    Quinton de Kock      SA  25  27   41.76  1044
14  15     Sourav Ganguly     IND  25  21   55.88  1006
15  16       Shreyas Iyer     IND  24  10   75.14   526
16  17     Martin Guptill      NZ  24  29   39.88   997
17  18        Aaron Finch     AUS  24  18   43.72   787
18  19     Matthew Hayden     AUS  23  21   51.94   987
19  20     Daryl Mitchell      NZ  22   9   69.00   552
20  21       Viv Richards      WI  22  21   63.31  1013
21  22         Ben Stokes     ENG  22  16   59.15   769
22  23       Fakhar Zaman     PAK  21  12   36.90   406
23  24        Mitch Marsh     AUS  20  12   41.54   457
24  25   Heinrich Klaasen      SA  19  10   41.44   373

# The End...!